.float-left
  $left = $page-margin-inner - $page-margin-outer
  position: relative
  float: left
  margin-left: $left
  margin-right: $image-margin
  margin-top: ($image-margin / 2)
  margin-bottom: ($image-margin / 2)
  z-index: 100

.float-right
  $right = $page-margin-inner - $page-margin-outer
  position: relative
  float: right
  margin-left: $image-margin
  margin-right: $right
  margin-top: ($image-margin / 2)
  margin-bottom: ($image-margin / 2)
  z-index: 100

figure
  text-align: center
  img
    margin: ($image-margin / 2) 0
  figcaption
    font-weight: 500
    color: #666666

img[src="assets/02_unsupported.png"]
  max-height: 35mm

img[src="assets/02_hello_xcode.png"]
  max-height: 45mm

img[src="assets/02_launch_ios_app.png"]
  max-height: 90mm

img[src="assets/02_ios_development.png"]
  max-height: 80mm

img[src="assets/02_open_sdk_manager.png"]
  max-height: 60mm

img[src="assets/02_android_sdk_manager.png"]
  max-height: 45mm

img[src="assets/02_genymotion.png"]
  max-height: 50mm

img[src="assets/02_hello_android_app.png"]
  max-height: 100mm

img[src="assets/02_device_error.png"]
  max-height: 80mm

img[src="assets/04_flexbox_ex1.png"],
img[src="assets/04_flexbox_ex2.png"],
img[src="assets/04_flexbox_ex3.png"],
img[src="assets/04_flexbox_ex4.png"],
img[src="assets/04_flexbox_ex5.png"]
  max-height: 70mm

img[src="assets/04_scroll_view.png"]
  max-height: 70mm

img[src="assets/05_navigator_ios.png"]
  max-height: 80mm

img[src="assets/06_import_library_1.png"],
img[src="assets/06_import_library_2.png"],
img[src="assets/06_import_library_3.png"]
  max-height: 70mm

img[src="assets/06_camera_app.jpg"]
  max-height: 60mm

img[src="assets/07_build_configuration.png"]
  max-height: 70mm

img[src="assets/08_activity_indicator.png"]
  width: 35mm

img[src="assets/08_date_picker_ios.png"]
  width: 55mm

img[src="assets/08_drawer_layout_android.png"]
  width: 65mm

img[src="assets/08_map_view.png"]
  width: 40mm

img[src="assets/08_picker.png"]
  width: 55mm

img[src="assets/08_picker_ios.png"]
  width: 55mm

img[src="assets/08_progress_bar.png"]
  width: 55mm

img[src="assets/08_refresh_control.png"]
  width: 65mm

img[src="assets/08_segmented_control_ios.png"]
  width: 55mm

img[src="assets/08_slider.png"]
  width: 55mm

img[src="assets/08_status_bar.png"]
  width: 55mm

img[src="assets/08_switch.png"]
  width: 40mm

img[src="assets/08_tab_bar_ios.png"]
  width: 55mm

img[src="assets/08_text_input.png"]
  width: 55mm

img[src="assets/08_toolbar_android.png"]
  width: 60mm

img[src="assets/08_view_pager_android.png"]
  width: 105mm

img[src="assets/08_action_sheet_ios.png"]
  width: 40mm

img[src="assets/08_alert.png"]
  width: 40mm

img[src="assets/08_alert_ios.png"]
  width: 40mm

img[src="assets/08_date_picker_android.png"]
  width: 40mm

img[src="assets/08_time_picker_android.png"]
  width: 40mm

img[src="assets/08_toast_android.png"]
  width: 55mm

table.table-02-align-item
  width: 90mm
  th
    width: 21mm
