// font

$body-font = 300 8.5pt SourceHanSansJP, sans-serif
$body-line-height = 1.8
$code-font-family = Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', SourceHanSansJP, monospace
$nombre-font = 300 9pt SourceHanSansJP, sans-serif

// JIS B5
$page-width = 182mm
$page-height = 257mm

$page-margin-inner-width = 20mm
$page-margin-outer-width = 15mm
$page-margin-top = 25mm
$page-margin-bottom = 15mm

